@model IEnumerable<Mulher_Presente.Models.Parceiros>

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <h1>Seja nosso parceiro</h1>
    <p class="text-white">
        Através do seu cadastro você vai poder estar apoiando mulheres em todo o Brasil
        que foram vítimas de algum tipo de violência
    </p>

<p class="font-weight-bold">
    <a asp-action="Create" class="badge badge-info m-1">Criar parceiro</a>
</p>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Especilidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Especilidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_parceiro">Edite</a> |
                <a asp-action="Details" asp-route-id="@item.id_parceiro">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.id_parceiro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
