@model Mulher_Presente.Models.Vitima

@{
    ViewData["Title"] = "Detalhes da Solicitação";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Detalhes sobre esta Solicitação.</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.apelido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.apelido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parceiros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parceiros.Especilidade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_vitima" class="h4">Editar</a> 
    <br>
    <a asp-action="Index" class="h3">&#8592;</a>
</div>
</body>
</html>
