@model IEnumerable<Mulher_Presente.Models.Vitima>

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.apelido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parceiros)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.apelido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parceiros.Especilidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_vitima">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_vitima">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_vitima">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
