@model Mulher_Presente.Models.ParceirosUser

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ParceirosUser</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone_parceiro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone_parceiro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email_parceiro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email_parceiro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Especialidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Especialidade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID_parceiro">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
